html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.box {
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.5rem 1.864rem 2.879rem 2.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #d0d9d4;

  .auto-group-y7xd-VUu {
    margin: 0rem 0.035rem 1.1rem 0rem;
    width: calc(100% - 0.0348rem);
    height: 32rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-3-1EH {
      border-radius: 5rem;
      width: 78.0329rem;
      height: 17.1113rem;
      position: absolute;
      left: 0;
      top: 14.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-32-HxV {
      height: 17.1113rem;
      position: absolute;
      left: 0;
      top: 14.5rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 5rem;
      width: 78.0329rem;
    }
    .rectangle-33-pxR {
      top: 18.4rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 2rem;
      width: 58.5013rem;
      height: 8.9337rem;
      position: absolute;
      left: 81.4rem;
    }
    .ellipse-5-Z9K {
      vertical-align: top;
      width: 8.2566rem;
      height: 9.0961rem;
      position: absolute;
      left: 67.3597rem;
      top: 18.5066rem;
      object-fit: contain;
    }
    .vector-1-thP {
      height: 0.0001rem;
      position: absolute;
      left: 69.2729rem;
      top: 23.1629rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.5309rem;
    }
    .vector-3-Qvd {
      object-fit: contain;
      vertical-align: top;
      width: 4.5309rem;
      height: 0.0001rem;
      position: absolute;
      left: 69.2729rem;
      top: 23.1629rem;
    }
    .vector-2-Y1F {
      vertical-align: top;
      width: 0.0001rem;
      height: 4.4396rem;
      position: absolute;
      left: 71.4879rem;
      top: 20.9972rem;
      object-fit: contain;
    }
    .arrow-1-HDj {
      width: 5.3364rem;
      height: 0.0002rem;
      position: absolute;
      left: 1.4098rem;
      top: 22.9483rem;
      object-fit: contain;
      vertical-align: top;
    }
    .financial-tracker-pUZ {
      line-height: 1.1425;
      font-family: Lilita One, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 12.8rem;
      width: 116.9rem;
      height: 14.7rem;
      font-weight: 400;
      color: #bfbfb4;
    }
    .balance-as-of-september-20-2023-sBw {
      width: 38.1rem;
      height: 3.8rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.5675;
      color: #ffffff;
      font-family: Lalezar, 'Source Sans Pro';
      left: 8.8rem;
      top: 15.3rem;
      font-size: 2.4rem;
      white-space: nowrap;
    }
    .item-150000000-kFj {
      height: 14.2rem;
      top: 17.8rem;
      font-weight: 400;
      color: #f2efdf;
      font-family: Lalezar, 'Source Sans Pro';
      white-space: nowrap;
      width: 57.2rem;
      position: absolute;
      left: 8.1rem;
      font-size: 9rem;
      line-height: 1.5675;
    }
    .date-today-09-16-2023-coj {
      color: #383838;
      font-family: Ledger, 'Source Sans Pro';
      white-space: nowrap;
      width: 53.3rem;
      height: 5.6rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.3925;
      position: absolute;
      left: 83.6rem;
      top: 20rem;
    }
  }
  .auto-group-9auq-JwT {
    margin: 0rem 0.036rem 1.299rem 1.9rem;
    width: calc(100% - 1.9361rem);
    height: 39.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-vrlm-QzV {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 5.6rem 0.999rem 0rem;
      height: 100%;
      display: flex;

      .auto-group-cpgh-XpD {
        border-radius: 4rem;
        padding: 0.1rem 0.4rem 1.685rem 6rem;
        width: 33.4rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin-right: 7.1rem;
        box-sizing: border-box;
        flex-direction: column;
        border: solid 0.5rem #ffffff;
        background-color: #798c8c;

        .auto-group-tsj5-RPo {
          margin-bottom: 0.8rem;
          width: 100%;
          height: 10.1rem;
          position: relative;
          flex-shrink: 0;

          .allowance-LFs {
            left: 2.6rem;
            top: 6rem;
            line-height: 1.265;
            color: #ffffff;
            font-family: Neuton, 'Source Sans Pro';
            width: 17.8rem;
            height: 4.1rem;
            position: absolute;
            font-size: 3.2rem;
            font-weight: 400;
            white-space: nowrap;
          }
          .line-10-3T7 {
            left: 0;
            top: 5.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 20rem;
            height: 0.0012rem;
            position: absolute;
          }
          .adding-income-PG5 {
            line-height: 1.445;
            font-family: Kite One, 'Source Sans Pro';
            white-space: nowrap;
            height: 4.1rem;
            position: absolute;
            font-size: 2.8rem;
            font-weight: 400;
            color: #000000;
            width: 18.4rem;
            left: 1.1rem;
            top: 1rem;
          }
          .frame-1-6AV {
            top: 0;
            overflow: hidden;
            width: 10rem;
            height: 10rem;
            position: absolute;
            left: 17rem;
          }
        }
        .auto-group-nym7-pcH {
          color: #000000;
          font-family: Kite One, 'Source Sans Pro';
          justify-content: center;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          flex-shrink: 0;
          border-radius: 4rem;
          margin: 0rem 9.102rem 1.293rem 3.5rem;
          width: calc(100% - 12.6017rem);
          height: 4.007rem;
          font-size: 2rem;
          align-items: center;
          background-color: #c4c4c4;
          line-height: 1.445;
        }
        .part-time-job-SNm {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.9rem 1.4rem 0rem;
        }
        .auto-group-6v1t-xM7 {
          width: calc(100% - 12.6016rem);
          font-weight: 400;
          display: flex;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          background-color: #c4c4c4;
          height: 4.1152rem;
          font-size: 2rem;
          line-height: 1.445;
          color: #000000;
          align-items: center;
          justify-content: center;
          border-radius: 4rem;
          margin: 0rem 9.102rem 0.385rem 3.5rem;
          font-family: Kite One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .other-income-1KP {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.8rem 1rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
        }
        .auto-group-g32y-WG9 {
          color: #000000;
          font-size: 2rem;
          font-family: Kite One, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          margin: 0rem 9.102rem 0rem 3.5rem;
          width: calc(100% - 12.6016rem);
          line-height: 1.445;
          align-items: center;
          flex-shrink: 0;
          height: 4.1152rem;
          font-weight: 400;
          white-space: nowrap;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          background-color: #c4c4c4;
          border-radius: 4rem;
        }
      }
      .auto-group-s4ts-it1 {
        border: solid 0.5rem #ffffff;
        background-color: #798c8c;
        align-items: center;
        flex-direction: column;
        width: 33.4rem;
        height: 100%;
        display: flex;
        border-radius: 4rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 4.1rem 1.685rem 4rem;

        .adding-expenses-dEH {
          font-family: Kite One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.8rem 0.4rem 0rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.445;
          color: #000000;
        }
        .line-11-LeV {
          margin: 0rem 1.3rem 0.299rem 0rem;
          width: 20rem;
          height: 0.0012rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .food-UEu {
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.1rem 1rem;
          font-size: 3.2rem;
          font-weight: 400;
        }
        .auto-group-2uzh-nWV {
          white-space: nowrap;
          height: 4.007rem;
          font-family: Kite One, 'Source Sans Pro';
          line-height: 1.445;
          display: flex;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          background-color: #c4c4c4;
          width: calc(100% - 10.9017rem);
          font-weight: 400;
          flex-shrink: 0;
          margin: 0rem 5.602rem 1.493rem 5.3rem;
          justify-content: center;
          align-items: center;
          border-radius: 4rem;
          font-size: 2rem;
          color: #000000;
        }
        .transportation-eHo {
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.265;
        }
        .auto-group-ufof-yay {
          align-items: center;
          background-color: #c4c4c4;
          font-weight: 400;
          font-family: Kite One, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 5.402rem 0.585rem 5.5rem;
          height: 4.1152rem;
          font-size: 2rem;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          border-radius: 4rem;
          width: calc(100% - 10.9017rem);
          line-height: 1.445;
          color: #000000;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
        }
        .other-expenses-zW5 {
          font-weight: 400;
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.7rem 1rem 0rem;
          font-size: 3.2rem;
        }
        .auto-group-qdeh-usw {
          width: calc(100% - 10.9017rem);
          font-weight: 400;
          line-height: 1.445;
          font-family: Kite One, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
          font-size: 2rem;
          margin: 0rem 5.602rem 0rem 5.3rem;
          height: 4.1152rem;
          color: #000000;
          display: flex;
          border-radius: 4rem;
          white-space: nowrap;
          justify-content: center;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          background-color: #c4c4c4;
        }
      }
    }
    .auto-group-s74m-J9P {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.399rem 2.2rem 4.1rem 2.2rem;
      width: 58.5rem;
      height: 100%;
      border: solid 0.5rem #ffffff;
      background-color: #798c8c;
      border-radius: 3rem;

      .adding-income-allowance-1pV {
        white-space: nowrap;
        margin-bottom: 1.4007rem;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1.445;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
      }
      .total-balance-150000000-Xnq {
        line-height: 1.265;
        color: #ffffff;
        font-family: Neuton, 'Source Sans Pro';
        margin: 0rem 0rem 2.8rem 2.1rem;
        max-width: 41.8rem;
        font-size: 4.8rem;
        font-weight: 400;

        .total-balance-150000000-Xnq-sub-0 {
        }
        .total-balance-150000000-Xnq-sub-1 {
          font-weight: 400;
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
          font-size: 4.8rem;
        }
        .total-balance-150000000-Xnq-sub-2 {
        }
      }
      .send-to-allowance-50000-W2V {
        font-family: Neuton, 'Source Sans Pro';
        margin-left: 2.2rem;
        max-width: 45.6rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.265;
        color: #ffffff;

        .send-to-allowance-50000-W2V-sub-0 {
        }
        .send-to-allowance-50000-W2V-sub-1 {
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
        }
        .send-to-allowance-50000-W2V-sub-2 {
        }
      }
    }
  }
  .auto-group-4maz-Dr1 {
    align-items: flex-end;
    flex-shrink: 0;
    margin-left: 1.9rem;
    height: 25.4219rem;
    display: flex;

    .auto-group-y8pr-YdP {
      flex-shrink: 0;
      margin: 0rem 6.9rem 0.3rem 0rem;
      width: 33.4rem;
      height: 24.121rem;
      position: relative;
      background-color: #798c8c;
      border-radius: 3rem;

      .rectangle-23-eRX {
        top: 9.5999rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 4rem;
        width: 26.0381rem;
        height: 10.6022rem;
        position: absolute;
        left: 6rem;
      }
      .view-YG1 {
        top: 10.4999rem;
        line-height: 1.265;
        color: #ffffff;
        width: 15.1rem;
        position: absolute;
        left: 11rem;
        font-family: Neuton, 'Source Sans Pro';
        white-space: nowrap;
        height: 8.1rem;
        font-size: 6.4rem;
        font-weight: 400;
      }
      .line-9-eZw {
        left: 2.8181rem;
        top: 6.9475rem;
        object-fit: contain;
        vertical-align: top;
        width: 28.2779rem;
        height: 0.125rem;
        position: absolute;
      }
      .arrow-12-jrH {
        vertical-align: top;
        width: 4.3729rem;
        height: 0.0005rem;
        position: absolute;
        left: 0.3887rem;
        top: 14.8648rem;
        object-fit: contain;
      }
      .viewing-transactions-GbK {
        height: 4.7rem;
        position: absolute;
        left: 2.8181rem;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
        white-space: nowrap;
        width: 29.3rem;
        top: 1.0786rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.445;
      }
      .rectangle-28-N8Z {
        position: absolute;
        top: 0;
        width: 33.4rem;
        height: 24.121rem;
        box-sizing: border-box;
        background-color: #798c8c;
        border-radius: 3rem;
        left: 0;
        border: solid 0.5rem #ffffff;
      }
      .line-12-2iu {
        vertical-align: top;
        width: 28.2779rem;
        height: 0.125rem;
        position: absolute;
        left: 1.9rem;
        top: 6.1999rem;
        object-fit: contain;
      }
      .viewing-transactions-ird {
        position: absolute;
        left: 1.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        white-space: nowrap;
        width: 29.3rem;
        height: 4.7rem;
        top: 0.8999rem;
        line-height: 1.445;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
      }
      .rectangle-35-cx1 {
        position: absolute;
        left: 5.4rem;
        top: 10.6999rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 4rem;
        width: 22.5rem;
        height: 8.902rem;
      }
      .view-9BF {
        font-weight: 400;
        line-height: 1.265;
        width: 15.1rem;
        position: absolute;
        left: 8.6rem;
        color: #ffffff;
        font-family: Neuton, 'Source Sans Pro';
        white-space: nowrap;
        height: 8.1rem;
        top: 10.7999rem;
        font-size: 6.4rem;
      }
    }
    .auto-group-1czp-cad {
      box-sizing: border-box;
      padding: 1.3rem 2.5rem 4.719rem 2.1rem;
      width: 33.4rem;
      display: flex;
      flex-direction: column;
      border: solid 0.5rem #ffffff;
      background-color: #798c8c;
      margin-right: 5.8rem;
      align-items: center;
      border-radius: 3rem;
      flex-shrink: 0;

      .filtering-transactions-JyF {
        font-family: Kite One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 3.1rem;
        font-weight: 400;
        line-height: 1.445;
        color: #000000;
      }
      .line-13-qTP {
        margin-bottom: 4.5rem;
        width: 28.8rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-h7wf-BXF {
        font-size: 6.4rem;
        font-family: Neuton, 'Source Sans Pro';
        background-repeat: no-repeat;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 3.2rem 0rem 3.1rem;
        padding: 0rem 3.5rem 0rem 3.9rem;
        width: calc(100% - 6.3rem);
        height: 8.902rem;
        background-image: url('REPLACE_IMAGE:55:115');
        box-sizing: border-box;
        font-weight: 400;
        color: #ffffff;
        background-position: center;
        line-height: 1.265;
        background-size: cover;
      }
    }
    .auto-group-4fnz-MKF {
      border: solid 0.5rem #ffffff;
      background-color: #798c8c;
      border-radius: 3rem;
      margin-bottom: 0.0164rem;
      height: calc(100% - 0.0164rem);
      position: relative;
      width: 58.5361rem;
      box-sizing: border-box;
      flex-shrink: 0;

      .payment-received-HTo {
        height: 6.1rem;
        position: absolute;
        left: 3.4rem;
        white-space: nowrap;
        color: #ffffff;
        font-family: Neuton, 'Source Sans Pro';
        width: 42.4rem;
        top: 5.0009rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.265;
      }
      .amount-100000000-B3P {
        position: absolute;
        top: 10.9009rem;
        font-weight: 400;
        font-family: Neuton, 'Source Sans Pro';
        width: 41.2rem;
        height: 12.2rem;
        left: 3.5rem;
        font-size: 4.8rem;
        line-height: 1.265;
        color: #ffffff;

        .amount-100000000-B3P-sub-0 {
        }
        .amount-100000000-B3P-sub-1 {
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 400;
        }
        .amount-100000000-B3P-sub-2 {
        }
      }
      .viewing-transactions-8Mw {
        color: #000000;
        height: 4.7rem;
        line-height: 1.445;
        left: 3.1rem;
        top: 1.3009rem;
        font-size: 3.2rem;
        font-weight: 400;
        font-family: Kite One, 'Source Sans Pro';
        white-space: nowrap;
        width: 29.3rem;
        position: absolute;
      }
    }
  }
}
