
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.wireframe-1-7r9 {
  width: 100%;
  overflow: hidden;
  background-color: #d0d9d4;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.5rem 1.864rem 2.879rem 2.2rem;
  position: relative;
  align-items: center;

  .auto-group-ou5f-di1 {
    flex-shrink: 0;
    margin: 0rem 0.035rem 1.1rem 0rem;
    width: calc(100% - 0.0348rem);
    height: 32rem;
    position: relative;

    .rectangle-3-nWM {
      height: 17.1113rem;
      position: absolute;
      left: 0;
      top: 14.5rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 5rem;
      width: 78.0329rem;
    }
    .rectangle-32-byb {
      border-radius: 5rem;
      width: 78.0329rem;
      height: 17.1113rem;
      position: absolute;
      left: 0;
      top: 14.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-33-HbX {
      border-radius: 2rem;
      width: 58.5013rem;
      height: 8.9337rem;
      position: absolute;
      left: 81.4rem;
      top: 18.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-5-XEy {
      left: 67.3597rem;
      top: 18.5066rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.2566rem;
      height: 9.0961rem;
      position: absolute;
    }
    .vector-1-ngh {
      position: absolute;
      left: 69.2729rem;
      top: 23.1629rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.5309rem;
      height: 0.0001rem;
    }
    .vector-3-sy3 {
      vertical-align: top;
      width: 4.5309rem;
      height: 0.0001rem;
      position: absolute;
      left: 69.2729rem;
      top: 23.1629rem;
      object-fit: contain;
    }
    .vector-2-jVT {
      left: 71.4879rem;
      top: 20.9972rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.0001rem;
      height: 4.4396rem;
      position: absolute;
    }
    .arrow-1-zAV {
      position: absolute;
      left: 1.4098rem;
      top: 22.9483rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.3364rem;
      height: 0.0002rem;
    }
    .financial-tracker-EqX {
      color: #bfbfb4;
      font-family: Lilita One, 'Source Sans Pro';
      white-space: nowrap;
      width: 116.9rem;
      font-weight: 400;
      left: 0;
      top: 0;
      font-size: 12.8rem;
      line-height: 1.1425;
      height: 14.7rem;
      position: absolute;
    }
    .balance-as-of-september-20-2023-dsf {
      width: 38.1rem;
      height: 3.8rem;
      top: 15.3rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Lalezar, 'Source Sans Pro';
      position: absolute;
      left: 8.8rem;
      font-size: 2.4rem;
      line-height: 1.5675;
      white-space: nowrap;
    }
    .item-150000000-wms {
      position: absolute;
      left: 8.1rem;
      font-weight: 400;
      line-height: 1.5675;
      white-space: nowrap;
      width: 57.2rem;
      height: 14.2rem;
      top: 17.8rem;
      font-size: 9rem;
      color: #f2efdf;
      font-family: Lalezar, 'Source Sans Pro';
    }
    .date-today-09-16-2023-a49 {
      height: 5.6rem;
      top: 20rem;
      font-weight: 400;
      color: #383838;
      font-family: Ledger, 'Source Sans Pro';
      white-space: nowrap;
      width: 53.3rem;
      position: absolute;
      left: 83.6rem;
      font-size: 4rem;
      line-height: 1.3925;
    }
  }
  .auto-group-ju7b-nR7 {
    margin: 0rem 0.036rem 1.299rem 1.9rem;
    width: calc(100% - 1.9361rem);
    height: 39.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-mqvt-qPP {
      position: relative;
      flex-shrink: 0;
      margin: 1rem 0rem 0.999rem 0rem;
      width: 79.5rem;
      height: calc(100% - 1.9994rem);

      .arrow-15-CNM {
        width: 46.6rem;
        height: 5.5rem;
        position: absolute;
        left: 32.9rem;
        top: 11.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-12-goK {
        border: solid 0.5rem #ffffff;
        box-sizing: border-box;
        background-color: #798c8c;
        height: 37.2006rem;
        position: absolute;
        top: 0;
        width: 33.4rem;
        left: 0;
        border-radius: 4rem;
      }
      .rectangle-16-X3F {
        top: 11rem;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #c4c4c4;
        border-radius: 4rem;
        width: 14.3983rem;
        height: 4.007rem;
        position: absolute;
        left: 9.5rem;
      }
      .rectangle-17-a1X {
        left: 9.5rem;
        top: 21.8rem;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #c4c4c4;
        border-radius: 4rem;
        width: 14.3984rem;
        height: 4.1152rem;
        position: absolute;
      }
      .rectangle-18-Pjf {
        left: 9.5rem;
        top: 31.4rem;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #c4c4c4;
        border-radius: 4rem;
        width: 14.3984rem;
        height: 4.1152rem;
        position: absolute;
      }
      .allowance-s93 {
        width: 17.8rem;
        top: 6.1rem;
        line-height: 1.265;
        font-family: Neuton, 'Source Sans Pro';
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        height: 4.1rem;
        position: absolute;
        left: 8.6rem;
        font-size: 3.2rem;
      }
      .part-time-job-Jk9 {
        color: #ffffff;
        width: 19.9rem;
        height: 4.1rem;
        position: absolute;
        left: 6.6rem;
        top: 16.3rem;
        font-weight: 400;
        line-height: 1.265;
        font-family: Neuton, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3.2rem;
      }
      .other-income-ckq {
        height: 4.1rem;
        position: absolute;
        font-size: 3.2rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        width: 21.2rem;
        left: 6rem;
        top: 26.3rem;
        line-height: 1.265;
        font-family: Neuton, 'Source Sans Pro';
      }
      .line-10-8UH {
        top: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 20rem;
        height: 0.0012rem;
        position: absolute;
        left: 6rem;
      }
      .add-3r9 {
        height: 2.9rem;
        left: 14.4rem;
        top: 32rem;
        font-weight: 400;
        line-height: 1.445;
        white-space: nowrap;
        width: 4.6rem;
        position: absolute;
        font-size: 2rem;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
      }
      .adding-income-uNZ {
        line-height: 1.445;
        white-space: nowrap;
        width: 18.4rem;
        top: 1.1rem;
        font-size: 2.8rem;
        font-weight: 400;
        font-family: Kite One, 'Source Sans Pro';
        height: 4.1rem;
        position: absolute;
        left: 7.1rem;
        color: #000000;
      }
      .add-zuo {
        line-height: 1.445;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
        position: absolute;
        top: 11.7rem;
        font-weight: 400;
        font-size: 2rem;
        white-space: nowrap;
        width: 4.6rem;
        height: 2.9rem;
        left: 14.5rem;
      }
      .add-iqo {
        position: absolute;
        top: 22.6rem;
        font-size: 2rem;
        white-space: nowrap;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
        width: 4.6rem;
        height: 2.9rem;
        left: 14.5rem;
        font-weight: 400;
        line-height: 1.445;
      }
      .rectangle-24-Faq {
        border-radius: 4rem;
        top: 0;
        border: solid 0.5rem #ffffff;
        box-sizing: border-box;
        background-color: #798c8c;
        width: 33.4rem;
        height: 37.2006rem;
        position: absolute;
        left: 40.5rem;
      }
      .rectangle-25-wyT {
        background-color: #c4c4c4;
        border-radius: 4rem;
        width: 14.3983rem;
        height: 4.007rem;
        position: absolute;
        left: 49.8rem;
        top: 11.1rem;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      }
      .rectangle-26-GVw {
        top: 21.6rem;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #c4c4c4;
        border-radius: 4rem;
        width: 14.3983rem;
        height: 4.1152rem;
        position: absolute;
        left: 50rem;
      }
      .rectangle-27-xtZ {
        position: absolute;
        left: 49.8rem;
        top: 31.4rem;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #c4c4c4;
        border-radius: 4rem;
        width: 14.3983rem;
        height: 4.1152rem;
      }
      .food-GuF {
        width: 7.9rem;
        position: absolute;
        top: 5.9rem;
        font-size: 3.2rem;
        line-height: 1.265;
        color: #ffffff;
        height: 4.1rem;
        left: 53.7rem;
        font-weight: 400;
        font-family: Neuton, 'Source Sans Pro';
        white-space: nowrap;
      }
      .transportation-NBb {
        white-space: nowrap;
        width: 25.3rem;
        position: absolute;
        top: 16.6rem;
        font-size: 3.2rem;
        line-height: 1.265;
        height: 4.1rem;
        left: 44.5rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Neuton, 'Source Sans Pro';
      }
      .other-expenses-5rh {
        font-family: Neuton, 'Source Sans Pro';
        height: 4.1rem;
        position: absolute;
        left: 45.1rem;
        font-weight: 400;
        color: #ffffff;
        width: 23.4rem;
        top: 26.3rem;
        font-size: 3.2rem;
        line-height: 1.265;
        white-space: nowrap;
      }
      .line-11-At9 {
        top: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 20rem;
        height: 0.0012rem;
        position: absolute;
        left: 46.5rem;
      }
      .add-7YV {
        width: 4.6rem;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        font-family: Kite One, 'Source Sans Pro';
        height: 2.9rem;
        position: absolute;
        left: 55.1rem;
        top: 32rem;
        line-height: 1.445;
      }
      .adding-expenses-Ed7 {
        width: 20.5rem;
        left: 46rem;
        font-weight: 400;
        line-height: 1.445;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
        white-space: nowrap;
        height: 4.1rem;
        position: absolute;
        top: 1.1rem;
        font-size: 2.8rem;
      }
      .add-MSq {
        font-weight: 400;
        line-height: 1.445;
        font-family: Kite One, 'Source Sans Pro';
        height: 2.9rem;
        position: absolute;
        left: 55.2rem;
        font-size: 2rem;
        width: 4.6rem;
        top: 11.7rem;
        color: #000000;
        white-space: nowrap;
      }
      .add-yUD {
        font-weight: 400;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
        width: 4.6rem;
        height: 2.9rem;
        left: 55.2rem;
        top: 22.5rem;
        font-size: 2rem;
        white-space: nowrap;
        position: absolute;
        line-height: 1.445;
      }
      .arrow-16-sZb {
        position: absolute;
        left: 73.6rem;
        top: 18.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.9rem;
        height: 1.7rem;
      }
      .frame-1-aiu {
        width: 10rem;
        height: 10rem;
        position: absolute;
        left: 23rem;
        top: 0.1rem;
        overflow: hidden;
      }
    }
    .auto-group-gg8h-HdK {
      border-radius: 3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.399rem 2.2rem 4.1rem 2.2rem;
      width: 58.5rem;
      height: 100%;
      border: solid 0.5rem #ffffff;
      background-color: #798c8c;

      .adding-income-allowance-WW5 {
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.4007rem;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1.445;
      }
      .total-balance-150000000-PJy {
        margin: 0rem 0rem 2.8rem 2.1rem;
        max-width: 41.8rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.265;
        color: #ffffff;
        font-family: Neuton, 'Source Sans Pro';

        .total-balance-150000000-PJy-sub-0 {
        }
        .total-balance-150000000-PJy-sub-1 {
          font-size: 4.8rem;
          font-weight: 400;
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
        }
        .total-balance-150000000-PJy-sub-2 {
        }
      }
      .send-to-allowance-50000-MHj {
        color: #ffffff;
        font-family: Neuton, 'Source Sans Pro';
        margin-left: 2.2rem;
        max-width: 45.6rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.265;

        .send-to-allowance-50000-MHj-sub-0 {
        }
        .send-to-allowance-50000-MHj-sub-1 {
          font-weight: 400;
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
          font-size: 4.8rem;
        }
        .send-to-allowance-50000-MHj-sub-2 {
        }
      }
    }
  }
  .auto-group-dq3x-7AR {
    height: 25.4219rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin-left: 1.9rem;
    width: calc(100% - 1.9rem);

    .auto-group-sjo7-STb {
      position: relative;
      flex-shrink: 0;
      width: 79.5rem;
      height: 24.4209rem;

      .arrow-17-Xjw {
        object-fit: contain;
        vertical-align: top;
        width: 46.6rem;
        height: 5.5rem;
        position: absolute;
        left: 32.5rem;
        top: 6.2999rem;
      }
      .rectangle-10-GhX {
        left: 0;
        top: 0;
        background-color: #798c8c;
        border-radius: 3rem;
        width: 33.4rem;
        height: 24.121rem;
        position: absolute;
      }
      .rectangle-23-aTK {
        width: 26.0381rem;
        height: 10.6022rem;
        position: absolute;
        left: 6rem;
        top: 9.5999rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 4rem;
      }
      .view-HsX {
        left: 11rem;
        font-size: 6.4rem;
        line-height: 1.265;
        color: #ffffff;
        white-space: nowrap;
        height: 8.1rem;
        position: absolute;
        top: 10.4999rem;
        font-weight: 400;
        font-family: Neuton, 'Source Sans Pro';
        width: 15.1rem;
      }
      .line-9-btD {
        left: 2.8181rem;
        top: 6.9475rem;
        object-fit: contain;
        vertical-align: top;
        width: 28.2779rem;
        height: 0.125rem;
        position: absolute;
      }
      .arrow-12-K3X {
        width: 4.3729rem;
        height: 0.0005rem;
        position: absolute;
        left: 0.3887rem;
        top: 14.8648rem;
        object-fit: contain;
        vertical-align: top;
      }
      .viewing-transactions-3kD {
        font-size: 3.2rem;
        font-weight: 400;
        white-space: nowrap;
        top: 1.0786rem;
        height: 4.7rem;
        position: absolute;
        left: 2.8181rem;
        line-height: 1.445;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
        width: 29.3rem;
      }
      .rectangle-30-x6V {
        top: 0.2999rem;
        box-sizing: border-box;
        background-color: #798c8c;
        height: 24.121rem;
        position: absolute;
        border: solid 0.5rem #ffffff;
        border-radius: 3rem;
        width: 33.4rem;
        left: 40.3rem;
      }
      .rectangle-31-Gcy {
        left: 45.5rem;
        top: 10.7999rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 4rem;
        width: 22.5rem;
        height: 8.902rem;
        position: absolute;
      }
      .view-bQM {
        font-size: 6.4rem;
        line-height: 1.265;
        height: 8.1rem;
        left: 49.4rem;
        top: 10.7999rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Neuton, 'Source Sans Pro';
        white-space: nowrap;
        width: 15.1rem;
        position: absolute;
      }
      .line-13-JpZ {
        left: 42.4rem;
        top: 6.2999rem;
        object-fit: contain;
        vertical-align: top;
        width: 28.8rem;
        height: 0;
        position: absolute;
      }
      .filtering-transactions-31T {
        line-height: 1.445;
        width: 28.8rem;
        height: 4.5rem;
        top: 1.5999rem;
        font-weight: 400;
        color: #000000;
        font-family: Kite One, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 42.4rem;
        font-size: 3.1rem;
      }
      .rectangle-28-vb3 {
        width: 33.4rem;
        position: absolute;
        background-color: #798c8c;
        height: 24.121rem;
        left: 0;
        top: 0;
        border: solid 0.5rem #ffffff;
        box-sizing: border-box;
        border-radius: 3rem;
      }
      .line-12-4BT {
        object-fit: contain;
        vertical-align: top;
        width: 28.2779rem;
        height: 0.125rem;
        position: absolute;
        left: 1.9rem;
        top: 6.1999rem;
      }
      .viewing-transactions-mrZ {
        font-weight: 400;
        line-height: 1.445;
        font-family: Kite One, 'Source Sans Pro';
        left: 1.9rem;
        font-size: 3.2rem;
        position: absolute;
        top: 0.8999rem;
        color: #000000;
        white-space: nowrap;
        width: 29.3rem;
        height: 4.7rem;
      }
      .arrow-18-dNy {
        vertical-align: top;
        width: 5.9rem;
        height: 1.7rem;
        position: absolute;
        left: 73.6rem;
        top: 17.0999rem;
        object-fit: contain;
      }
      .rectangle-35-YF3 {
        top: 10.6999rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 4rem;
        width: 22.5rem;
        height: 8.902rem;
        position: absolute;
        left: 5.4rem;
      }
      .view-3Bo {
        font-size: 6.4rem;
        line-height: 1.265;
        color: #ffffff;
        font-family: Neuton, 'Source Sans Pro';
        white-space: nowrap;
        width: 15.1rem;
        left: 8.6rem;
        top: 10.7999rem;
        height: 8.1rem;
        position: absolute;
        font-weight: 400;
      }
    }
    .auto-group-gwsv-MiH {
      height: calc(100% - 0.0164rem);
      position: relative;
      box-sizing: border-box;
      background-color: #798c8c;
      border-radius: 3rem;
      margin-bottom: 0.0164rem;
      width: 58.5361rem;
      border: solid 0.5rem #ffffff;
      flex-shrink: 0;

      .payment-received-fys {
        left: 3.4rem;
        font-size: 4.8rem;
        line-height: 1.265;
        color: #ffffff;
        height: 6.1rem;
        position: absolute;
        font-weight: 400;
        font-family: Neuton, 'Source Sans Pro';
        white-space: nowrap;
        width: 42.4rem;
        top: 5.0009rem;
      }
      .amount-100000000-BxD {
        left: 3.5rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.265;
        width: 41.2rem;
        height: 12.2rem;
        position: absolute;
        top: 10.9009rem;
        color: #ffffff;
        font-family: Neuton, 'Source Sans Pro';

        .amount-100000000-BxD-sub-0 {
        }
        .amount-100000000-BxD-sub-1 {
          line-height: 1.265;
          color: #ffffff;
          font-family: Neuton, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 400;
        }
        .amount-100000000-BxD-sub-2 {
        }
      }
      .viewing-transactions-KS9 {
        color: #000000;
        height: 4.7rem;
        position: absolute;
        font-size: 3.2rem;
        line-height: 1.445;
        font-family: Kite One, 'Source Sans Pro';
        white-space: nowrap;
        width: 29.3rem;
        left: 3.1rem;
        top: 1.3009rem;
        font-weight: 400;
      }
    }
  }
}
