
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.wireframe-1-ajK {
  box-sizing: border-box;
  padding: 0.5rem 1.864rem 2.879rem 2.2rem;
max-width: 800px;
  width: 800%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d0d9d4;
}
.wireframe-1-ajK .auto-group-y7xd-VUu {
  margin: 0rem 0.035rem 1.1rem 0rem;
  width: calc(100% - 0.0348rem);
  height: 32rem;
  position: relative;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .rectangle-3-1EH {
  width: 78.0329rem;
  height: 17.1113rem;
  position: absolute;
  left: 0;
  top: 14.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .rectangle-32-HxV {
  width: 78.0329rem;
  height: 17.1113rem;
  position: absolute;
  left: 0;
  top: 14.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .rectangle-33-pxR {
  width: 58.5013rem;
  height: 8.9337rem;
  position: absolute;
  left: 81.4rem;
  top: 18.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .ellipse-5-Z9K {
  width: 8.2566rem;
  height: 9.0961rem;
  position: absolute;
  left: 67.3597rem;
  top: 18.5066rem;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .vector-1-thP {
  width: 4.5309rem;
  height: 0.0001rem;
  position: absolute;
  left: 69.2729rem;
  top: 23.1629rem;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .vector-3-Qvd {
  width: 4.5309rem;
  height: 0.0001rem;
  position: absolute;
  left: 69.2729rem;
  top: 23.1629rem;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .vector-2-Y1F {
  width: 0.0001rem;
  height: 4.4396rem;
  position: absolute;
  left: 71.4879rem;
  top: 20.9972rem;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .arrow-1-HDj {
  width: 5.3364rem;
  height: 0.0002rem;
  position: absolute;
  left: 1.4098rem;
  top: 22.9483rem;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .financial-tracker-pUZ {
  width: 116.9rem;
  height: 14.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 1.1425;
  color: #bfbfb4;
  font-family: Lilita One, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .balance-as-of-september-20-2023-sBw {
  width: 38.1rem;
  height: 3.8rem;
  position: absolute;
  left: 8.8rem;
  top: 15.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .item-150000000-kFj {
  width: 57.2rem;
  height: 14.2rem;
  position: absolute;
  left: 8.1rem;
  top: 17.8rem;
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #f2efdf;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-y7xd-VUu .date-today-09-16-2023-coj {
  width: 53.3rem;
  height: 5.6rem;
  position: absolute;
  left: 83.6rem;
  top: 20rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3925;
  color: #383838;
  font-family: Ledger, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-9auq-JwT {
  margin: 0rem 0.036rem 1.299rem 1.9rem;
  width: calc(100% - 1.9361rem);
  height: 39.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV {
  box-sizing: border-box;
  padding: 1rem 5.6rem 0.999rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD {
  margin-right: 7.1rem;
  box-sizing: border-box;
  padding: 0.1rem 0.4rem 1.685rem 6rem;
  width: 33.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.5rem #ffffff;
  background-color: #798c8c;
  border-radius: 4rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .auto-group-tsj5-RPo {
  margin-bottom: 0.8rem;
  width: 100%;
  height: 10.1rem;
  position: relative;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .auto-group-tsj5-RPo .allowance-LFs {
  width: 17.8rem;
  height: 4.1rem;
  position: absolute;
  left: 2.6rem;
  top: 6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .auto-group-tsj5-RPo .line-10-3T7 {
  width: 20rem;
  height: 0.0012rem;
  position: absolute;
  left: 0;
  top: 5.5rem;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .auto-group-tsj5-RPo .adding-income-PG5 {
  width: 18.4rem;
  height: 4.1rem;
  position: absolute;
  left: 1.1rem;
  top: 1rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .auto-group-tsj5-RPo .frame-1-6AV {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 17rem;
  top: 0;
  overflow: hidden;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .auto-group-nym7-pcH {
  margin: 0rem 9.102rem 1.293rem 3.5rem;
  width: calc(100% - 12.6017rem);
  height: 4.007rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #c4c4c4;
  border-radius: 4rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .part-time-job-SNm {
  margin: 0rem 5.9rem 1.4rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .auto-group-6v1t-xM7 {
  margin: 0rem 9.102rem 0.385rem 3.5rem;
  width: calc(100% - 12.6016rem);
  height: 4.1152rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #c4c4c4;
  border-radius: 4rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .other-income-1KP {
  margin: 0rem 5.8rem 1rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-cpgh-XpD .auto-group-g32y-WG9 {
  margin: 0rem 9.102rem 0rem 3.5rem;
  width: calc(100% - 12.6016rem);
  height: 4.1152rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #c4c4c4;
  border-radius: 4rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-s4ts-it1 {
  box-sizing: border-box;
  padding: 1.1rem 4.1rem 1.685rem 4rem;
  width: 33.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.5rem #ffffff;
  background-color: #798c8c;
  border-radius: 4rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-s4ts-it1 .adding-expenses-dEH {
  margin: 0rem 1.8rem 0.4rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-s4ts-it1 .line-11-LeV {
  margin: 0rem 1.3rem 0.299rem 0rem;
  width: 20rem;
  height: 0.0012rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-s4ts-it1 .food-UEu {
  margin: 0rem 0rem 1.1rem 1rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-s4ts-it1 .auto-group-2uzh-nWV {
  margin: 0rem 5.602rem 1.493rem 5.3rem;
  width: calc(100% - 10.9017rem);
  height: 4.007rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #c4c4c4;
  border-radius: 4rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-s4ts-it1 .transportation-eHo {
  margin-bottom: 0.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-s4ts-it1 .auto-group-ufof-yay {
  margin: 0rem 5.402rem 0.585rem 5.5rem;
  width: calc(100% - 10.9017rem);
  height: 4.1152rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #c4c4c4;
  border-radius: 4rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-s4ts-it1 .other-expenses-zW5 {
  margin: 0rem 0.7rem 1rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-vrlm-QzV .auto-group-s4ts-it1 .auto-group-qdeh-usw {
  margin: 0rem 5.602rem 0rem 5.3rem;
  width: calc(100% - 10.9017rem);
  height: 4.1152rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #c4c4c4;
  border-radius: 4rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P {
  box-sizing: border-box;
  padding: 2.399rem 2.2rem 4.1rem 2.2rem;
  width: 58.5rem;
  height: 100%;
  border: solid 0.5rem #ffffff;
  background-color: #798c8c;
  border-radius: 3rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P .adding-income-allowance-1pV {
  margin-bottom: 1.4007rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P .total-balance-150000000-Xnq {
  margin: 0rem 0rem 2.8rem 2.1rem;
  max-width: 41.8rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P .total-balance-150000000-Xnq .total-balance-150000000-Xnq-sub-0 {
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P .total-balance-150000000-Xnq .total-balance-150000000-Xnq-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P .total-balance-150000000-Xnq .total-balance-150000000-Xnq-sub-2 {
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P .send-to-allowance-50000-W2V {
  margin-left: 2.2rem;
  max-width: 45.6rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P .send-to-allowance-50000-W2V .send-to-allowance-50000-W2V-sub-0 {
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P .send-to-allowance-50000-W2V .send-to-allowance-50000-W2V-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
}
.wireframe-1-ajK .auto-group-9auq-JwT .auto-group-s74m-J9P .send-to-allowance-50000-W2V .send-to-allowance-50000-W2V-sub-2 {
}
.wireframe-1-ajK .auto-group-4maz-Dr1 {
  margin-left: 1.9rem;
  height: 25.4219rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP {
  margin: 0rem 6.9rem 0.3rem 0rem;
  width: 33.4rem;
  height: 24.121rem;
  position: relative;
  background-color: #798c8c;
  border-radius: 3rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .rectangle-23-eRX {
  width: 26.0381rem;
  height: 10.6022rem;
  position: absolute;
  left: 6rem;
  top: 9.5999rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .view-YG1 {
  width: 15.1rem;
  height: 8.1rem;
  position: absolute;
  left: 11rem;
  top: 10.4999rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .line-9-eZw {
  width: 28.2779rem;
  height: 0.125rem;
  position: absolute;
  left: 2.8181rem;
  top: 6.9475rem;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .arrow-12-jrH {
  width: 4.3729rem;
  height: 0.0005rem;
  position: absolute;
  left: 0.3887rem;
  top: 14.8648rem;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .viewing-transactions-GbK {
  width: 29.3rem;
  height: 4.7rem;
  position: absolute;
  left: 2.8181rem;
  top: 1.0786rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .rectangle-28-N8Z {
  width: 33.4rem;
  height: 24.121rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #ffffff;
  box-sizing: border-box;
  background-color: #798c8c;
  border-radius: 3rem;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .line-12-2iu {
  width: 28.2779rem;
  height: 0.125rem;
  position: absolute;
  left: 1.9rem;
  top: 6.1999rem;
  object-fit: contain;
  vertical-align: top;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .viewing-transactions-ird {
  width: 29.3rem;
  height: 4.7rem;
  position: absolute;
  left: 1.9rem;
  top: 0.8999rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .rectangle-35-cx1 {
  width: 22.5rem;
  height: 8.902rem;
  position: absolute;
  left: 5.4rem;
  top: 10.6999rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-y8pr-YdP .view-9BF {
  width: 15.1rem;
  height: 8.1rem;
  position: absolute;
  left: 8.6rem;
  top: 10.7999rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-1czp-cad {
  margin-right: 5.8rem;
  box-sizing: border-box;
  padding: 1.3rem 2.5rem 4.719rem 2.1rem;
  width: 33.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.5rem #ffffff;
  background-color: #798c8c;
  border-radius: 3rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-1czp-cad .filtering-transactions-JyF {
  margin-bottom: 0.2rem;
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-1czp-cad .line-13-qTP {
  margin-bottom: 4.5rem;
  width: 28.8rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-1czp-cad .auto-group-h7wf-BXF {
  margin: 0rem 3.2rem 0rem 3.1rem;
  box-sizing: border-box;
  padding: 0rem 3.5rem 0rem 3.9rem;
  width: calc(100% - 6.3rem);
  height: 8.902rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-31.png');
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-4fnz-MKF {
  margin-bottom: 0.0164rem;
  width: 58.5361rem;
  height: calc(100% - 0.0164rem);
  position: relative;
  border: solid 0.5rem #ffffff;
  box-sizing: border-box;
  background-color: #798c8c;
  border-radius: 3rem;
  flex-shrink: 0;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-4fnz-MKF .payment-received-HTo {
  width: 42.4rem;
  height: 6.1rem;
  position: absolute;
  left: 3.4rem;
  top: 5.0009rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
  white-space: nowrap;
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-4fnz-MKF .amount-100000000-B3P {
  width: 41.2rem;
  height: 12.2rem;
  position: absolute;
  left: 3.5rem;
  top: 10.9009rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-4fnz-MKF .amount-100000000-B3P .amount-100000000-B3P-sub-0 {
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-4fnz-MKF .amount-100000000-B3P .amount-100000000-B3P-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.265;
  color: #ffffff;
  font-family: Neuton, 'Source Sans Pro';
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-4fnz-MKF .amount-100000000-B3P .amount-100000000-B3P-sub-2 {
}
.wireframe-1-ajK .auto-group-4maz-Dr1 .auto-group-4fnz-MKF .viewing-transactions-8Mw {
  width: 29.3rem;
  height: 4.7rem;
  position: absolute;
  left: 3.1rem;
  top: 1.3009rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.445;
  color: #000000;
  font-family: Kite One, 'Source Sans Pro';
  white-space: nowrap;
}
