.desktop {
  background-color: #d0d9d4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #d0d9d4;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 780px;
  height: 171px;
  top: 162px;
  left: 20px;
  background-image: url(./img/rectangle-3.svg);
  background-size: 100% 100%;
}

.desktop .text-wrapper {
  position: absolute;
  width: 390px;
  top: 7px;
  left: 62px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Lalezar-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 631px;
  top: 36px;
  left: 47px;
  filter: blur(2px);
  font-family: "Lalezar-Regular", Helvetica;
  font-weight: 400;
  color: #f2efdf;
  font-size: 98px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .overlap-group {
  position: absolute;
  width: 739px;
  height: 372px;
  top: 358px;
  left: 39px;
}

.desktop .rectangle {
  position: absolute;
  width: 334px;
  height: 372px;
  top: 0;
  left: 0;
  background-color: #798c8c;
  border-radius: 40px;
  border: 5px solid;
  border-color: #ffffff;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 144px;
  height: 41px;
  top: 218px;
  left: 95px;
  background-color: #c4c4c4;
  border-radius: 40px;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 144px;
  height: 41px;
  top: 113px;
  left: 95px;
  background-color: #c4c4c4;
  border-radius: 40px;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 144px;
  height: 41px;
  top: 314px;
  left: 95px;
  background-color: #c4c4c4;
  border-radius: 40px;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 180px;
  top: 59px;
  left: 85px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 394px;
  top: 161px;
  left: 65px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  width: 373px;
  left: 59px;
  font-size: 32px;
  position: absolute;
  top: 261px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #37676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ADD {
  position: absolute;
  width: 53px;
  height: 26px;
  top: 325px;
  left: 140px;
}

.desktop .adding-income {
  position: absolute;
  width: 191px;
  height: 42px;
  top: 19px;
  left: 66px;
}

.desktop .img {
  position: absolute;
  width: 53px;
  height: 26px;
  top: 231px;
  left: 141px;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 334px;
  height: 372px;
  top: 0;
  left: 405px;
  background-color: #798c8c;
  border-radius: 40px;
  border: 5px solid;
  border-color: #ffffff;
}

.desktop .rectangle-6 {
  position: absolute;
  width: 144px;
  height: 40px;
  top: 111px;
  left: 498px;
  background-color: #c4c4c4;
  border-radius: 40px;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .rectangle-7 {
  position: absolute;
  width: 144px;
  height: 41px;
  top: 216px;
  left: 500px;
  background-color: #c4c4c4;
  border-radius: 40px;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .rectangle-8 {
  position: absolute;
  width: 144px;
  height: 41px;
  top: 314px;
  left: 498px;
  background-color: #c4c4c4;
  border-radius: 40px;
  box-shadow: inset 0px 4px 4px #00000040;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 84px;
  top: 57px;
  left: 536px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 268px;
  top: 164px;
  left: 444px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  width: 241px;
  left: 459px;
  font-size: 29px;
  position: absolute;
  top: 261px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #37676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ADD-2 {
  position: absolute;
  width: 53px;
  height: 26px;
  top: 325px;
  left: 547px;
}

.desktop .adding-expenses {
  position: absolute;
  width: 212px;
  height: 43px;
  top: 16px;
  left: 462px;
}

.desktop .ADD-3 {
  position: absolute;
  width: 53px;
  height: 26px;
  top: 122px;
  left: 548px;
}

.desktop .ADD-4 {
  position: absolute;
  width: 53px;
  height: 26px;
  top: 230px;
  left: 548px;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 121px;
  left: 148px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Kite One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-2 {
  position: absolute;
  width: 334px;
  height: 241px;
  top: 763px;
  left: 39px;
  border-radius: 30px;
}

.desktop .rectangle-9 {
  position: absolute;
  width: 334px;
  height: 241px;
  top: 0;
  left: 0;
  background-color: #798c8c;
  border-radius: 30px;
  border: 5px solid;
  border-color: #ffffff;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 180px;
  top: 103px;
  left: 109px;
  transform: rotate(-0.01deg);
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .viewing-transactions {
  position: absolute;
  width: 297px;
  height: 47px;
  top: 18px;
  left: 26px;
}

.desktop .rectangle-10 {
  position: absolute;
  width: 225px;
  height: 89px;
  top: 107px;
  left: 54px;
}

.desktop .text-wrapper-11 {
  top: 106px;
  left: 85px;
  position: absolute;
  width: 180px;
  transform: rotate(-0.01deg);
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 1222px;
  top: 14px;
  left: 18px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 2px #000000;
  font-family: "Lilita One-Regular", Helvetica;
  font-weight: 400;
  color: #bfbfb4;
  font-size: 128px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .overlap-3 {
  position: absolute;
  width: 334px;
  height: 241px;
  top: 766px;
  left: 442px;
  border-radius: 30px;
}

.desktop .rectangle-11 {
  position: absolute;
  width: 225px;
  height: 89px;
  top: 105px;
  left: 52px;
}

.desktop .text-wrapper-13 {
  top: 103px;
  left: 90px;
  position: absolute;
  width: 180px;
  transform: rotate(-0.01deg);
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .filtering {
  position: absolute;
  width: 293px;
  height: 46px;
  top: 20px;
  left: 19px;
}

.desktop .overlap-4 {
  position: absolute;
  width: 585px;
  height: 254px;
  top: 753px;
  left: 834px;
  border-radius: 30px;
}

.desktop .rectangle-12 {
  position: absolute;
  width: 585px;
  height: 254px;
  top: 0;
  left: 0;
  background-color: #798c8c;
  border-radius: 30px;
  border: 5px solid;
  border-color: #ffffff;
}

.desktop .text-wrapper-14 {
  position: absolute;
  width: 419px;
  top: 48px;
  left: 33px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 419px;
  top: 107px;
  left: 34px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .viewing-transactions-2 {
  position: absolute;
  width: 297px;
  height: 47px;
  top: 20px;
  left: 29px;
}

.desktop .overlap-group-2 {
  position: absolute;
  width: 585px;
  height: 372px;
  top: 358px;
  left: 818px;
  border-radius: 30px;
}

.desktop .rectangle-13 {
  position: absolute;
  width: 585px;
  height: 372px;
  top: 0;
  left: 0;
  background-color: #798c8c;
  border-radius: 30px;
  border: 5px solid;
  border-color: #ffffff;
}

.desktop .adding-income-2 {
  position: absolute;
  width: 395px;
  height: 44px;
  top: 17px;
  left: 33px;
}

.desktop .TOTAL-BALANCE {
  position: absolute;
  width: 419px;
  top: 67px;
  left: 58px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .SEND-TO-ALLOWANCE {
  position: absolute;
  width: 465px;
  top: 217px;
  left: 59px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #38676a;
  font-family: "Neuton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-5 {
  position: absolute;
  width: 585px;
  height: 91px;
  top: 200px;
  left: 834px;
  border-radius: 40px;
}

.desktop .rectangle-14 {
  position: absolute;
  width: 585px;
  height: 91px;
  top: 0;
  left: 0;
  background-color: #798c8c;
  border-radius: 40px;
  border: 5px solid;
  border-color: #ffffff;
}

.desktop .text-wrapper-16 {
  position: absolute;
  width: 543px;
  top: 15px;
  left: 21px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #959fac;
  font-family: "Ledger-Regular", Helvetica;
  font-weight: 400;
  color: #383838;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}
