body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
    font-family: "Integral CF";
}
td{
  text-align: center;
}
.top{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOWQBLs1pE3YBRLkx_R4YOP44b3rOS7Peq3Q&usqp=CAU");
  background-position: center;
  background-size: cover;
  height: 100px;
}
.class{
  height: 739px;
}
.space{
  height: 200px;
}
table {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
}
td{
  padding: 10px;
}
